
<%= flash[:notice] %>
<div class= "container" id="contact-page">
  <h2>Contact Us</h2>
  <div class="col-xs-12 col-sm-6 col-lg-8">
    <div class="row" id="contact-form">
      <%= form_tag("/static_pages/thank_you") do %>
      <div class="form-group">
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
       </div>
      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
       </div>
      <div class="form-group">
        <%= label_tag :message, "Message" %>
        <textarea name="message" id="message" class="form-control" placeholder="Enter Message" style="margin: 0px -6px 0px 0px;  height: 117px;"></textarea>
       </div>      
      <%= submit_tag "Send", class: 'btn btn-primary' %>
      <% end %>
    </div>
   </div>

   
  <div id="map">
   <div class="col-xs-12 col-sm-6 col-lg-8">
     <ul>
      <li><span class="glyphicon glyphicon-map-marker"></span> 155 E 23rd St, New York, NY 10010</li>
      <li><span class="glyphicon glyphicon-phone"></span> +49 176 72468090</li>
     </ul>
     <iframe width="80%" height="220px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-c2vo6BZwokRcqkrcqmSeRw&key=AIzaSyD7UW2K6L31PsWKgMDgvsAUCvDQ459dszU" allowfullscreen></iframe>
   </div>
  </div>
</div>

