
<%= flash[:notice] %>
<div class= "container" id="contact-page">
  <div class="row" id="contact-form">
    <h2>Contact Us</h2>
      <%= form_tag("/static_pages/thank_you") do %>
      <div class="form-group">
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
       </div>
      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
       </div>
      <div class="form-group">
        <%= label_tag :message, "Message" %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
       </div>      
      <%= submit_tag "Send", class: 'btn btn-primary' %>
      <% end %>
    </div>
   
  <div id="map">
    <ul>
      <li><span class="glyphicon glyphicon-map-marker"></span> 155 E 23rd St, New York, NY 10010</li>
      <li><span class="glyphicon glyphicon-phone"></span> +49 176 72468090</li>
    </ul>
    <iframe width="90%" height="220px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-c2vo6BZwokRcqkrcqmSeRw&key=AIzaSyD7UW2K6L31PsWKgMDgvsAUCvDQ459dszU" allowfullscreen></iframe>
  </div>
</div>

