<% cache product do %>
<div class="col-lg-4 col-md-4 col-sm-6">
	<div class="product"><%= link_to(image_tag(product.image_url), product) %>
    <h4 id="productname"><%= link_to product.name, product %></h4>
    <p id="product-index">
        $<%= product.price %></p>
    </div>
  <div class="show-index-links">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Detailed View' .html_safe, product %>
      <%= link_to 'Edit' .html_safe, edit_product_path(product) %>
      <%= button_to 'Destroy', product, :method => :delete, data_confirm: 'Are you sure?', class: "btn btn-default"  %>
    <% else %>
      <%= link_to 'Detailed view' .html_safe, product %>
    <% end %>
  </div>
 </div>
 <% end %>