 <div class="col-lg-4 col-md-4 col-sm-6">
   <% cache product do %>
    <h4 id="productname"><%= link_to product.name, product %></h4>
    <p id="product-index"><%= image_tag (product.image_url) %><br>
    <%= product.colour %><br>
    <%= link_to 'Edit', edit_product_path(product) %><br>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> 
   <% end %>
   
 </div>  