<!DOCTYPE html>
<html>
<head>
  <title>Artsy Design Co</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name-"viewwport" content-"width=device-width, initial-scale=1">
  <script>
          ! function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
              }
          }(document, 'script', 'twitter-wjs');
    </script>

  <%= csrf_meta_tags %>


</head>
<body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
  <!--navbar starts here-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <nav class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="projectName">
          <a href="#">Artsy Design Co</a>
          </div>
        </nav>
         <div class="navbar-collapse collapse">
           <ul class= "nav navbar-nav">
             <li><a class="page-scroll" href="/static_pages/landing_page">Home</a>
             </li>
             <li><a class="page-scroll" href="/static_pages/about">About</a></li>
             <li><a class="page-scroll" href="/products">Products</a>
             </li>
             <li><a class="page-scroll" href="/static_pages/contact">Contact</a></li>
             <li><% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
               <% else %>
                  <%= link_to('Login', new_user_session_path) %>
               <% end %>
             </li>
             <li><%= form_tag("/products", method: "get") do %>
                 <%= label_tag(:q, "Search for:") %>
                 <%= text_field_tag(:q) %>
                 <%= submit_tag("Search", class: "btn btn-primary") %>
                 <% end %>
             </li>
           </ul>
        </div>
      </div> <!-- end nav container-->
   </nav> <!-- navbar ends here-->

  

<%= yield %>

<!-- JS Scripts -->
    <script type="text/javascript">
  var $root = $('html, body');
    $('.navbar-nav a').click(function() {
        var href = $.attr(this, 'href');
        $root.animate({
            scrollTop: $(href).offset().top
        }, 500, function () {
            window.location.hash = href;
        });
        return false;
    });
</script>
<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>



<footer class="foot navbar-fixed-bottom">
  <div class="copyright">
    <p>© 2015 Artsy Design Co | All rights Reserved</p>
   </div>
   <div class="follow">
     <a href="https://twitter.com/Trevorlon" class="twitter-follow-button" data-show-count="false">Follow @Trevorlon</a>
   </div>

  <div class="facebook">
    <div class="fb-like" data-href="https://www.facebook.com/careerfoundry" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>

 </footer>

</html>
